* {
    box-sizing: border-box;
}

body {
    min-width: 700px;
    background-color: rgb(217, 223, 226);
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: first baseline;
    gap: 2em;
}

.flex {
    display: flex;
    align-items: first baseline;
    gap: 2em;
}

.first-btn {
    color: rgb(80, 80, 221);
    border: 1px solid rgb(80, 80, 221);
    cursor: pointer;
}

main {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 0.1em;
}

.small-case {
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 10px;
}

.buttons-container > input {
    padding: 0.5em 1.5em 0.5em 0.5em;
}

.buttons-container > button {
    background-color: red;
    color: white;
    border: 0;
    padding: 0.5em 1.5em 0.5em 0.5em;
    cursor: pointer;
}

footer {
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

}

.container {
    display: flex;
    align-items: first baseline;
    gap: 2em;
}
